<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<form>
  <div class="container">
    <p>REGISTER FORM</p>
    <p>Please fill in this form to create an account for Tweet application </p>
    <hr>
    <label for="First_name"><b>FirstName</b></label>
    <input type="text" placeholder="Enter firstname" name="First_name" id="First_name" required>

    <label for="Last_name"><b>LastName</b></label>
    <input type="text" placeholder="Enter Lastname" name="Last_name" id="Last_name" required>

    <label for="Contact_Number"><b>ContactNumber</b></label>
    <input type="text" placeholder="Enter Contact Number" name="Contact_Number" id="Contact_Number" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="confirm_psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confirm_psw" id="confirm_psw" required>

    <button type="submit" class="registerbtn"><a routerLink="/login"> Register</a></button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="#">login</a>.</p>
  </div>
</form>

</body>
</html>
